In [14]:
import mysql.connector

# Replace these values with your database connection details
db_config = {
    'user': 'shojeeb',
    'password': 'shojeeb',
    'host': '192.168.10.244',
    'database': 'ssh_log'
}

# Connect to the database
cnx = mysql.connector.connect(**db_config)

# Create a cursor object
cursor = cnx.cursor()

# Execute a query
# query = 'INSERT INTO log (Date, Time, Host, Process, Message, Timezone) VALUES ("2023-05-09", "17:21:01", "sdf", "sdf", "sdf", "sdf")'
query = 'SELECT * FROM log'
cursor.execute(query)

# Fetch and print the results
for row in cursor:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

(1, datetime.date(2023, 5, 1), datetime.timedelta(days=1, seconds=11701), 'sdf', 'sdf', 'sdf', 'gfg')
(5, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(6, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(7, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(8, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(9, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(10, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(11, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(12, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(13, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(14, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(15, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(16, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(17, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(18, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(19, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(20, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(21, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(22, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(23, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(24, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(25, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(26, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(27, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(28, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(29, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(30, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(31, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(32, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')
(33, datetime.date(2023, 5, 9), datetime.timedelta(seconds=62461), 'sdf', 'sdf', 'sdf', 'sdf')

In [12]:
import mysql.connector

# Replace these values with your database connection details
db_config = {
    'user': 'shojeeb',
    'password': 'shojeeb',
    'host': '192.168.10.244',
    'database': 'ssh_log'
}

# Connect to the database
cnx = mysql.connector.connect(**db_config)

# Create a cursor object
cursor = cnx.cursor()

# Execute a query
query = 'INSERT INTO log (Date, Time, Host, Process, Message, Timezone) VALUES ("2023-05-09", "17:21:01", "sdf", "sdf", "sdf", "sdf")'
cursor.execute(query)

# Commit the changes
cnx.commit()

# Close the cursor and connection
cursor.close()
cnx.close()